<%- include('header') %>

    <div class="container" style="margin:80px">

        <div class="jumbotron">
            <div class="container">
                <h1>lỗi rồi!</h1>
                <p>Thông báo lỗi: <%= message%>
                </p>
                <p>
                    <a href="/category" class="btn btn-primary btn-lg">Quay lại</a>
                </p>
            </div>
        </div>

    </div>

    <%- include('footer') %>