<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>ADMIN-THIÊN</title>
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link href="http://localhost:1000/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="http://localhost:1000/css/sb-admin-2.min.css" rel="stylesheet">
</head>

<body id="page-top">
    <div id="wrapper">
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/">
                <img src="https://slister.vn/wp-content/uploads/2017/12/logomobile.png" width="150" height="50" alt="">
            </a>
            <hr class="sidebar-divider my-0">
            <li class="nav-item active">

                <a class="nav-link" href="/">
                    <i class="fa-solid fa-house-user"></i>
                    <span>Trang chủ</span></a>
            </li>
            <hr class="sidebar-divider">
            <div class="sidebar-heading">Giao diện 1</div>
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseOne"
                    aria-expanded="true" aria-controls="collapseOne">
                    <i class="fa-solid fa-list-dropdown"></i>
                    <span>CATEGORY</span>
                </a>
                <div id="collapseOne" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Tuỳ chỉnh:</h6>
                        <a class="collapse-item" href="/category">Danh mục</a>
                        <a class="collapse-item" href="/category_create">Thêm mới danh mục</a>
                        <a class="collapse-item" href="#">Chỉnh sửa danh mục</a>
                    </div>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo"
                    aria-expanded="true" aria-controls="collapseTwo">
                    <i class="fa-solid fa-list-dropdown"></i>
                    <span>PRODUCT</span>
                </a>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingUtilities"
                    data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Tuỳ chỉnh:</h6>
                        <a class="collapse-item" href="/product">Sản phẩm</a>
                        <a class="collapse-item" href="/product_create">Thêm mới sản phẩm</a>
                        <a class="collapse-item" href="#">Chỉnh sửa sản phẩm</a>
                    </div>
                </div>
            </li>
             
            <hr class="sidebar-divider">
            
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <i class="fa-solid fa-table-layout"></i>
                    <span>About</span></a>
            </li>
            <hr class="sidebar-divider d-none d-md-block">
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>
        </ul>
         